<!-- Displaying the restaurant parameters -->
<% if @restaurant_reviews then %>
	
	<h3><%= @restaurant.restaurant_name %></h3><h4>Price range: <%= @restaurant.price %></h4>

	<p>This is an authentic <%= @restaurant.cuisine_type %>, it is located in the bustling <%= @restaurant.location %>.</p>
		 
	<p>The restaurant opens at <%= @restaurant.opening_times %>.</p> <br>

	
	<h3>Restaurant Reviews</h3>
	 <!-- Iterates through the list of reviews, returns review text and timestamp. -->
	<% @restaurant_reviews.each do |review| %>
	<div id="review">
		<h4><a href="/restaurants/<%= @restaurant.id %>/reviews/<%= review.id %>">Review number: <%= review.id %></a></h4>
		<p><%= review.review_text %></p>
		<p id="tag">This review was created at <%= review.created_at %>. Last updated at <%= review.updated_at %>.</p><br><br>

		<!-- Link to edit the review -->
		<button><a class="edit" href="/restaurants/<%= @restaurant.id %>/reviews/<%= review.id %>/edit">Edit this review</a></button><br><br>

		<!-- Form to delete the review -->
		<form action="/restaurants/<%= @restaurant.id %>/reviews/<%= review.id %>/delete" method="POST">
			<input type="hidden" value="DELETE" name="_method"> <!-- Method override post to delete -->

			<input class ="delete" type="submit" name="delete" value="Delete this review">
		</form><br><br>
	</div>
	<% end %><br><br>

<% else	%>
	<h3> There are no reviews for this restaurant yet, feel free to add one! </h3> 
<% end %>