<!-- Displaying the restaurant parameters -->
<% if @review then %>

	<h3><%= @restaurant.restaurant_name %></h3> <h4>Price range: <%= @restaurant.price %></h4>

	 <p>This is an authentic <%= @restaurant.cuisine_type %>, it is located in the bustling <%= @restaurant.location %>.</p>
	 
	 <p>The restaurant opens at <%= @restaurant.opening_times %>.</p> <br>
	 <p>Location: <%= @restaurant.longitude %>, <%= @restaurant.latitude %></p><br>

	<!-- Shows particular review; returns review text and timestamp. -->
	<div>
		<h3>Review for <%= @restaurant.restaurant_name %></h3>
		<p><%= @review.review_text %></p>

		<p id="tag">This review was created at <%= @review.created_at %>. Last updated at <%= @review.updated_at %>.</p><br>
		<!-- Link to edit the review -->
		<button><a class="edit" href="/restaurants/<%= @restaurant.id %>/reviews/<%= @review.id %>/edit">Edit this review</a></button><br><br>

			<!-- Form to delete the review -->
		<form action="/restaurants/<%= @restaurant.id %>/reviews/<%= @review.id %>/delete" method="POST">
			<input type="hidden" value="DELETE" name="_method"> <!-- Method override post to delete -->

			<input type="submit" name="delete" value="Delete this review">
		</form>
	</div><br><br>
<% else %> 
	<p> There are no reviews yet! </p> 
<% end %>

