<!-- Displaying the restaurant parameters -->

<h1><%= @restaurant.restaurant_name %></h1>

 <p><%= @restaurant.cuisine_type %></p>
 <p><%= @restaurant.location %></p>
 <p><%= @restaurant.opening_times %></p>
 <p><%= @restaurant.price %></p>
 <p><%= @restaurant.opening_times %></p>

<!-- Iterates through the list of reviews, returns review text and timestamp. -->
<% @reviews.each do |review| %>
<div>
	<p><%= review.id %></p>
  <p><%= review.review_text %></p>
  <p><%= review.created_at %></p>
  <p><%= review.updated_at %></p>


	<!-- Link to edit the review -->
	<a href="/restuarants/<%= @restaurant.id %>/reviews/<%= @review.restaurant_id %>/edit">edit</a>

	<!-- Form to delete the review -->
	<form action="/restuarants/<%= @restaurant.id %>/reviews/<%= @review.restaurant_id %>/delete" method="POST">
		<input type="hidden" value="DELETE" name="_method"> <!-- Method override post to delete -->

		<input type="submit" name="delete" value="Delete">
	</form>

</div>
<% end %>