<h1>Edit a Restaurant</h1>

<!-- Form to edit a restaurant, filled with restaurant element values using value = "" -->

<form action="/restaurants/<%= @restaurant.id %>/update" method="POST">
	<input type="hidden" name="_method" value="PUT"> <!-- Method override for post to put -->

	<label for="restaurant_name">Restaurant Name:</label>
	<input type="string" name="restaurant_name" value="<%= @restaurant.restaurant_name %>"><br>

	<label for="cuisine_type">Type of Cuisine:</label>
	<input type="string" name="cuisine_type" value="<%= @restaurant.cuisine_type %>"><br>

	<label for="location">Location:</label>
	<input type="string" name="location" value="<%= @restaurant.location %>"><br>

	<label for="post_code">Post Code:</label>
	<input type="string" name="post_code" value="<%= @restaurant.post_code %>"><br>

	<label for="price">Price rating:</label>
	<input type="string" name="price" value="<%= @restaurant.price %>"><br>

	<label for="opening_times">Opening times:</label>
	<input type="string" name="opening_times" value="<%= @restaurant.opening_times %>"><br><br>

	<input type="submit" name="Submit Edit">
</form><br><br><br>