<!-- Displaying the restaurant parameters -->

<h1><%= @restaurant.restaurant_name %></h1>

 <p><%= @restaurant.restaurant_name %></p>
 <p><%= @restaurant.cuisine_type %></p>
 <p><%= @restaurant.location %></p>
 <p><%= @restaurant.opening_times %></p>
 <p><%= @restaurant.price %></p>
 <p><%= @restaurant.opening_times %></p>

<!-- Link to edit the restaurant -->
<a href="/restaurants/<%= @restaurant.id %>/edit">Edit</a>

<!-- Form to delete the restaurant -->
<form action="/restaurants/<%= @restaurant.id %>/delete" method="POST">
	<input type="hidden" value="DELETE" name="_method"> <!-- Method override post to delete -->

	<input type="submit" name="delete" value="Delete">
</form>

<!-- To view reviews -->
<a href="/restaurants/<%= @restaurant.id %>/reviews">View reviews</a>

<!-- Need to create a text area to create a review. -->
<form method="POST" action="/restaurants/<%= @restaurant.id %>/reviews">
	<label for="review_text">Enter review here:</label>
	<textarea name="review_text"></textarea><br><br>
	<input type="submit" name="Submit Review">
</form>