<!-- Displaying the restaurant parameters -->

<h1><%= @restaurant.restaurant_name %></h1>

 <p>Cuisine Type: <%= @restaurant.cuisine_type %></p>
 <p>Location: <%= @restaurant.location %></p>
 <p>Price: <%= @restaurant.price %></p>
 <p>Opening times: <%= @restaurant.opening_times %></p>

 <!-- To view reviews -->
<button><a href="/restaurants/<%= @restaurant.id %>/reviews">View restaurant reviews</a></button><br><br><br>

<!-- Link to edit the restaurant -->
<button><a href="/restaurants/<%= @restaurant.id %>/edit">Edit Restaurant</a></button><br>

<!-- Form to delete the restaurant -->
<form action="/restaurants/<%= @restaurant.id %>/delete" method="POST">
	<input type="hidden" value="DELETE" name="_method"> <!-- Method override post to delete -->

	<input type="submit" name="delete" value="Delete restaurant">
</form><br>

<h1>Review this restaurant</h1>

<!-- Need to create a text area to create a review. -->
<form method="POST" action="/restaurants/<%= @restaurant.id %>/reviews">
	<label for="review_text">Enter review here:</label><br><br>
	<textarea name="review_text"></textarea><br><br>
	<input type="submit" name="Submit Review">
</form><br><br><br>