<h1><%= @restaurant.restaurant_name %></h1>

 <p><%= @restaurant.restaurant_name %></p>
 <p><%= @restaurant.cuisine_type %></p>
 <p><%= @restaurant.location %></p>
 <p><%= @restaurant.opening_times %></p>
 <p><%= @restaurant.price %></p>
 <p><%= @restaurant.opening_times %></p>


<a href="/restaurants/<%= @restaurant.id %>/edit">edit</a>

<form action="/restaurants/<%= @restaurant.id %>/delete" method="POST">
	<input type="hidden" value="DELETE" name="_method">

	<input type="submit" name="delete" value="Delete">
</form>