<!-- Displaying the restaurant parameters -->

<h3><%= @restaurant.restaurant_name %></h3>

 <p>Cuisine Type: <%= @restaurant.cuisine_type %></p>
 <p>Location: <%= @restaurant.location %> <%= @restaurant.post_code %></p>
 <p>Price: <%= @restaurant.price %></p>
 <p>Opening times: <%= @restaurant.opening_times %></p>
 <p id="long"><%= @restaurant.longitude %></p>
 <p id="lat"><%= @restaurant.latitude %></p>

  <h4>Location</h4>
    <div id="map"></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDthvXxBmCIxdTve-XRvAJbRhdhfsJ6wVs&callback=initMap">
    </script><br>

 <!-- To view reviews -->
<button><a href="/restaurants/<%= @restaurant.id %>/reviews">View Restaurant Reviews</a></button><br>

<!-- Link to edit the restaurant -->
<button><a href="/restaurants/<%= @restaurant.id %>/edit">Edit Restaurant</a></button>

<!-- Form to delete the restaurant -->
<form action="/restaurants/<%= @restaurant.id %>/delete" method="POST">
	<input type="hidden" value="DELETE" name="_method"> <!-- Method override post to delete -->

	<input class="delete" type="submit" name="delete" value="Delete Restaurant">
</form>

<h3>Review this restaurant</h3>

<!-- Need to create a text area to create a review. -->
<form method="POST" action="/restaurants/<%= @restaurant.id %>/reviews">
	<label class= "review" for="review_text">Enter Review Here:</label><br>
	<textarea name="review_text"></textarea><br><br>
	<input class ="submit" type="submit" name="Submit Review">
</form><br><br><br>